.tableContainer {
  height: 100%;
  overflow-x: scroll;
}

.tableHeader {
  height: auto;
}

.tableBody {
  height: 50%;
  overflow-y: scroll;
}

.tableHeader > table,
.tableBody > table {
  table-layout: fixed;
  margin-bottom: 0;
}
